$low: calc(var(--low, 0) * 1%);
$high: calc(var(--high, 0) * 1%);

:host {
    --progress_color: rgba(255, 255, 255, 1);
    --progress_border: none;
    --progress_radius: 0;
    --progress_shadow: none;

    --track_color: rgba(255, 255, 255, 0.2);
    --track_height: 0.25rem;
    --track_border: none;
    --track_radius: 0;
    --track_shadow: none;
    --track_transform: none;
    --track_transition: transform 200ms;

    --thumb_color: var(--progress_color);
    --thumb_height: calc(var(--track_height) * 4);
    --thumb_width: var(--thumb_height);
    --thumb_border: none;
    --thumb_radius: var(--thumb_width);
    --thumb_shadow: 0 0 0.5em -0.25rem black;
    --thumb_transform: none;
    --thumb_transition: transform 200ms;
}

:host {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.track {
    position: relative;
    height: var(--track_height);
    width: 100%;
    border: var(--track_border);
    border-radius: var(--track_radius);
    overflow: hidden;
    background: var(--track_color);
    box-shadow: var(--track_shadow);
    transform: var(--track_transform);
    transition: var(--track_transition);

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border: var(--progress_border);
        border-radius: var(--progress_radius);
        background: var(--progress_color);
        box-shadow: var(--progress_shadow);
        transform-origin: left;
        transform: translateX($low) scaleX(calc($high - $low));
    }
}

.slider {
    position: absolute;
    height: var(--track_height);
    width: calc(100% - var(--thumb_width));

    .thumb {
        position: absolute;
        top: 50%;
        translate: -50% -50%;
        height: var(--thumb_height);
        width: var(--thumb_width);
        border: var(--thumb_border);
        border-radius: var(--thumb_radius);
        background: var(--thumb_color);
        box-shadow: var(--thumb_shadow);
        transform: var(--thumb_transform);
        transition: var(--thumb_transition);

        &:first-child {
            display: var(--low, none);
            left: $low;
        }

        &:last-child {
            left: $high;
        }
    }
}

:host.compact {
    --thumb_transform: scale(0);

    .slider .thumb {
        &:first-child {
            transform-origin: $low;
        }

        &:last-child {
            transform-origin: $high;
        }
    }

    &:hover {
        --thumb_transform: scale(1);
    }
}

:host.overflow {
    .slider {
        width: 100%;

        .thumb {
            transform-origin: center;
        }
    }
}
