<div class="track">
    @for (split of splits(); track $index) {
        <div class="segment" ngxSegment [split]="split" [bounds]="[min(), lowest(), highest(), max()]" [splits]="splits()"></div>
    }
    <div class="segment" ngxSegment [split]="max()" [bounds]="[min(), lowest(), highest(), max()]" [splits]="splits()"></div>
</div>
<div class="slider" (pointerdown)="onSliding($event)" #sliderRef>
    <label class="thumb" [style.--low]="low()" #thumbRef>
        <input type="range" [min]="min()" [max]="max()" [step]="step()" [value]="lowest()" />
    </label>
    @if (marks()) {
        @let marks = step() ? (max() - min()) / step() + 1 : 0;
        @for (mark of [].constructor(marks); track $index) {
            @let value = $index * step();
            <div
                class="mark"
                [class.mark--lower]="value < lowest() || (value < highest() && type() === 'simple')"
                [class.mark--upper]="value > highest()"
            >
            </div>
        }
    }
    <label class="thumb" [style.--high]="high()" #thumbRef>
        <input type="range" [min]="min()" [max]="max()" [step]="step()" [value]="highest()" />
    </label>
</div>
