$low: calc(var(--low, 0) * 1%);
$high: calc(var(--high, 0) * 1%);

:host {
    --progress_color: white;
    --track_height: 0.25rem;
    --thumb_height: calc(var(--track_height) * 4);
    --thumb_width: var(--thumb_height);
}

:host {
    position: relative;
    display: flex;
    width: 10rem;
    justify-content: center;
    cursor: pointer;
}

.track {
    position: relative;
    height: var(--track_height);
    width: 100%;
    background: rgba(255, 255, 255, 0.2);

    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: var(--progress_color);
        transform-origin: left;
        transform: translateX($low) scaleX(calc($high - $low));
    }
}

.slider {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--track_height);
    width: calc(100% - var(--thumb_width));

    .thumb {
        position: absolute;
        top: 50%;
        translate: -50% -50%;
        height: var(--thumb_height);
        width: var(--thumb_width);
        border-radius: var(--thumb_width);
        background: var(--progress_color);
        box-shadow: 0 0 0.5em -0.25rem black;
        cursor: grab;

        &:first-child {
            display: var(--low, none);
            left: $low;
        }

        &:last-child {
            left: $high;
        }
    }

    .mark {
        height: calc(var(--track_height) * 0.25);
        width: calc(var(--track_height) * 0.25);
        border-radius: 50%;
        background: gray;
    }
}
