:host {
    --buffered-color: rgba(255, 255, 255, 0.5); /* Used in the directive TS file */
    width: 100%;
}

:host ::ng-deep ngx-range {
    --track-height: 0.25rem;
    --thumb-height: 0.75rem;
    width: 100%;
    padding: 1.5rem 1rem 0 1rem;

    .track {
        height: var(--track-height);
    }

    .segment {
        --segment-scale-y: 1;
        background-image: linear-gradient(to right, var(--buffered, transparent, transparent));
        transform: scaleY(var(--segment-scale-y));
        transition: transform 100ms ease-out, border-radius 100ms ease-out;

        &:first-child {
            overflow: hidden;
            border-top-left-radius: calc(var(--track-height) * var(--segment-scale-y)) var(--track-height);
            border-bottom-left-radius: calc(var(--track-height) * var(--segment-scale-y)) var(--track-height);
        }
        &:last-child {
            overflow: hidden;
            border-top-right-radius: calc(var(--track-height) * var(--segment-scale-y)) var(--track-height);
            border-bottom-right-radius: calc(var(--track-height) * var(--segment-scale-y)) var(--track-height);
        }
    }

    .thumb {
        transform: scale(1);
        transition: transform 100ms ease-out;
    }

    &:hover {
        .segment {
            --segment-scale-y: 1.5;

            &--hovered {
                --segment-scale-y: 2.5;
            }

            &::before {
                opacity: 1;
            }
        }

        .thumb {
            transform: scale(1.5);
        }
    }
}
