:host {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    user-select: none;
    touch-action: none;
}

:host ::ng-deep video {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
